:root {
    --primary-text-color: #ffffff;
    --secundary-text-color: #222c36;
    --background-color1: #010d14;
    --background-color2: #2475aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-text-color);
    font-family: Lato;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color1);
    height: 100vh;
}

/* Corpo da Calculadora */
#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: auto;
    min-height: 400px;
    padding: 2rem 0;
    border-radius: 10px;
    background-color: var(--secundary-text-color);
}

h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.input-box {
    font-size: .8rem;
}

.input-box input {
    margin-bottom: 2rem;
    /* margin-bottom: 2rem; */
}

#calculator-commander {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    /* border: 1px solid red; */
}

#calculator-commander input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: var(--secundary-text-color);
    border: 0;
    border-bottom: 1px solid var(--primary-text-color);
    outline: 0;
}

#calculator-commander input[type="button"] {
    font-size: 1rem;
    background-color: var(--background-color2);
    border: 0;
    border-radius: 5px;
}

/* Resultado */
#calculator-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 1.5rem;
    color: var(--background-color2);
    margin-bottom: 1rem;
}

#calculator-result p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media (max-width: 820px) {

    #calculator-body {
        max-width: 380px;
        padding: 1rem;
    }

    #calculator-result {
        padding: 1rem 0;
    }
}